:root {
  --color-red: rgb(223, 109, 109);
  --color-blue: rgb(82, 82, 230);
  --color-light-blue: rgb(215, 215, 224);
}

button {
  padding: 0.6em 1em;
  border-radius: 8px;
  color: var(--color-blue);
  font-size: 1em;
  border: 0;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 1em;
}
