* {
  margin: 0;
  padding: 0;
}
:root {
  --color-red: rgb(223, 109, 109);
  --color-blue: rgb(82, 82, 230);
  --color-light-blue: rgb(215, 215, 224);
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  color: var(--color-blue);
  font-size: 16px;
  border: 0;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-blue);
  border-radius: 3px;
  color: var(--color-blue);
  display: none;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
}

.tooltip::after {
  content: attr(data-tooltip);
  width: 130px;
  word-break: break-all;
  bottom: 0;
  line-height: 15px;
  font-size: 11px;
  left: 15%;
  transform: translate(-50%, calc(100% + 10px));
}

.tooltip:hover::after {
  display: block;
}
.tooltip:hover::before {
  display: block;
}
.tooltip::before {
  content: '';
  background-color: var(--color-light-blue);
  border: 1px solid var(--color-blue);
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 1;
}

.tooltip::before {
  bottom: 0;
  left: 15%;
  transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}
