.remove-question {
  background-color: rgb(218, 91, 116);
}
.sort-question {
  background-color: rgb(109, 221, 109);
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fa-edit {
  color: var(--color-blue);
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.fa-trash-alt {
  color: var(--color-red);
  font-size: 20px;
  cursor: pointer;
}

.questions-container {
  border: 1px solid rgb(113, 139, 212);
  box-sizing: border-box;
  box-shadow: 4px 4px var(--color-blue);
  padding: 15px;
  width: 100%;
}

.question {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.input-edit-question {
  height: 25px;
}

.answer {
  font-weight: normal;
  display: none;
}

.questionslist-container {
  display: flex;
  flex-direction: column;
  padding: 25px 0px 0px 0px;
  width: 80%;
  margin: 10px;
}

.questionlist-title {
  font-size: 25px;
  color: var(--color-blue);
  padding-bottom: 15px;
}

.container {
  display: flex;
}

.icons {
  float: right;
}

.edit-modal {
  margin: 0 auto;
}

.edit-title {
  font-size: 25px;
  color: var(--color-blue);
  margin-top: 10px;
}

.save-btn {
  background-color: rgb(109, 221, 109);
  margin-left: 10px;
}

.alert-warning {
  padding: 12px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  font-size: 12px;
  background-color: rgba(248, 215, 218, 1);
  border-color: rgba(220, 53, 69, 1);
  color: rgb(149, 65, 74);
}

/* Mobile View  */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .questionslist-container {
    width: 90%;
    padding: 25px 0px 0px 0px;
    margin: 10px;
  }
  .react-responsive-modal-modal {
    /* height: 60%; */
    width: 75%;
  }
  .input-edit-question {
    height: 36px;
    width: 260px;
  }
  .edit-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .react-responsive-modal-closeButton {
    top: 5px !important;
  }
  .save-btn {
    background-color: rgb(109, 221, 109);
    margin-left: 1px;
  }
}

/* small tablet */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
